<mat-tab-group>
    <mat-tab label="Personajes">
      <ng-template matTabContent>
        <app-personaje></app-personaje>
      </ng-template>
    </mat-tab>
    <mat-tab label="Profesores">
      <ng-template matTabContent>
          <app-profesor></app-profesor>
      </ng-template>
    </mat-tab>
    <mat-tab label="estudiantes">
      <ng-template matTabContent>
          <app-estudiante ></app-estudiante>
      </ng-template>
    </mat-tab>
    <mat-tab label="Solicitudes" >
      <ng-template matTabContent>
          <app-solicitudes></app-solicitudes>
      </ng-template>
    </mat-tab>
  </mat-tab-group>